:root{
    --main-color:rgba(41,128,185,1.0);
    --main-color-light:rgba(41,128,185,1.0);
    --accent-color:rgba(243,156,18,1.0);
    --accent-color-light:rgba(243,156,18,0.5);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.main-title{
    font-size: 2rem;
}
header, .gorev-form{
 min-height: 20vh;
 margin: 0.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
.form-item{
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none;
}
.btn-gorev-ekle{
    color: var(--accent-color);
    cursor: pointer;
}
.btn-gorev-ekle:hover{
    color: white;
    background-color: var(--accent-color);
}
.gorev-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gorev-listesi{
    list-style: none;
    min-width: 40%;
}
.gorev-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: 0.5s ease-in-out;
}
.gorev-tanim{
    flex: 1;
    padding: 0.7rem;
}
.gorev-btn{
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 0.7rem;
    
}
.gorev-sil{
    background-color: red;
}
.gorev-tamamlandi{
    text-decoration: line-through;
    opacity: 0.5;
}
.far{
    pointer-events: none;
}
.kaybol{
    transform: scale(0);
}